.photo-option {
    width: 250px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.photo-option.selected-photo {
    border: 3px solid blue;
}

.photo-container {
    display: flex;
    justify-content: center;
    padding: 15px;
}

/* Swiper container */
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  width: 100%;
  max-width: 640px; /* Set the maximum width of the Swiper */
  height: auto;
}

/* Swiper wrapper */
.swiper-wrapper {
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

/* Swiper slide */
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 400px; /* Set a fixed height for all slides */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Images inside Swiper */
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire slide area */
}

#map_location_field {
  text-align: center; /* Center the contents horizontally */
}

#map_location_field .map_location {
  margin-bottom: 10px; /* Add some space between the label and the image */
}
