{% include "header.html" %}

<main id="main" data-aos="fade" data-aos-delay="1500">
  <section id="add-new-venue" class="add-new-venue">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="page-header text-center">
            <h2>Add New Venue</h2>
          </div>
          <form id="placeForm" method="POST" action="/add_venue">
            <div class="form-group">
              <label for="autocomplete">Search Location:</label>
              <input id="autocomplete" type="text" class="form-control mb-2 mt-2" name="autocomplete"
                     autocomplete="off"
                     placeholder="Search Location Venue">
              <ul id="suggestions" class="list-group mt-2"></ul>
            </div>
            <!-- Hidden fields for place details -->
            <div id="name_field" class="form-group d-none">
              <label for="name" class="mb-1">Name:</label>
              <input id="name" type="text" class="form-control mb-2 mt-2" name="name" readonly>
            </div>
            <div id="address_field" class="form-group d-none">
              <label for="address" class="mb-1">Address:</label>
              <input id="address" type="text" class="form-control mb-2 mt-2" name="address" readonly>
            </div>
            <div id="rating_field" class="form-group d-none">
              <label for="rating" class="mb-1">Rating:</label>
              <input id="rating" type="text" class="form-control mb-2 mt-2" name="rating" readonly>
            </div>
            <div id="photos_field" class="form-group d-none">
              <label for="photos" class="mb-1">Photos:</label>
              <div id="photos" class="row"></div>
              <input type="hidden" id="selected_photo" name="selected_photo">
              <input type="hidden" id="selected_photo_url" name="photo_url">
            </div>
            <div id="map_location_field" class="form-group d-none">
              <div class="map_location">
                <label for="map_location">Map Location:</label>
              </div>
              <div>
                <img id="map_location" class="img-fluid" alt="Map Location" src="">
              </div>
            </div>
            <input type="hidden" id="lat" name="lat">
            <input type="hidden" id="lng" name="lng">
            <input type="hidden" id="place_id" name="place_id">
            <input type="hidden" id="static_map_url" name="static_map_url">
            <div class="text-center mt-3">
              <button type="submit" class="btn btn-primary">Add Place</button>
              <button id="clearFormBtn" type="button" class="btn btn-danger ml-4">Clear Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section><!-- End Add New Venue Section -->
</main><!-- End #main -->

{% include "footer.html" %}
