{% include "header.html" %}
<main id="main" data-aos="fade" data-aos-delay="1500">

  <!-- ======= End Page Header ======= -->
  <div class="page-header d-flex align-items-center">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>{{venue.name}}</h2>
          <p>{{venue.address}}</p>
        </div>
      </div>
    </div>
  </div><!-- End Page Header -->

  <!-- ======= Gallery Single Section ======= -->
  <section id="gallery-single" class="gallery-single">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="position-relative h-100">
            <div class="slides-1 portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide">
                  <img src="{{venue.photo_url}}" alt="{{venue.name}}">
                </div>
                <div class="swiper-slide">
                  <img src="{{venue.map_url}}" alt="{{venue.address}}">
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row justify-content-between gy-4 mt-4">
            <div class="portfolio-info">
              <h3>Venue information</h3>
              <ul>
                <li><strong>Name</strong> <span>{{venue.name}}</span></li>
                <li><strong>Address</strong> <span>{{venue.address}}</span></li>
                <li><strong>Rating</strong> <span>{{venue.rating}}</span></li>
              </ul>
              <form action="{{ url_for('delete_venue', venue_id=venue.id) }}" method="post">
                <button type="submit" class="btn btn-danger">Delete Venue</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Gallery Single Section -->

</main><!-- End #main -->
{% include "footer.html" %}
